*.class
*.log
/project/target/config-classes/$1ad487b22a8c5ad7503c.cache
/project/target/config-classes/$7dd78c256e6c51647549.cache
/project/target/config-classes/$25b6ded7d27bcd11d9eb.cache
/project/target/config-classes/$894ba346bf151eb06db1.cache
/project/project/target/config-classes/$d416ffda2d67781f91f8.cache
/target/.history3
/project/build.properties
/project/target/streams/compile/copyResources/_global/streams/copy-resources
/project/target/streams/compile/_global/_global/discoveredMainClasses/data
/project/target/streams/compile/compileIncremental/_global/streams/export
/project/target/streams/compile/dependencyClasspath/_global/streams/export
/project/target/streams/compile/exportedProducts/_global/streams/export
/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
/project/target/streams/compile/internalDependencyClasspath/_global/streams/export
/project/target/streams/compile/managedClasspath/_global/streams/export
/project/target/streams/compile/unmanagedClasspath/_global/streams/export
/project/target/streams/compile/unmanagedJars/_global/streams/export
/project/target/streams/runtime/dependencyClasspath/_global/streams/export
/project/target/streams/runtime/exportedProducts/_global/streams/export
/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
/project/target/streams/runtime/fullClasspath/_global/streams/export
/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
/project/target/streams/runtime/managedClasspath/_global/streams/export
/project/target/streams/runtime/unmanagedClasspath/_global/streams/export
/project/target/streams/runtime/unmanagedJars/_global/streams/export
/target/streams/compile/externalDependencyClasspath/_global/streams/export
/target/streams/compile/managedClasspath/_global/streams/export
/target/streams/compile/unmanagedClasspath/_global/streams/export
/target/streams/compile/unmanagedJars/_global/streams/export
/target/streams/runtime/externalDependencyClasspath/_global/streams/export
/target/streams/runtime/managedClasspath/_global/streams/export
/target/streams/runtime/unmanagedClasspath/_global/streams/export
/target/streams/runtime/unmanagedJars/_global/streams/export
/target/streams/test/externalDependencyClasspath/_global/streams/export
/target/streams/test/managedClasspath/_global/streams/export
/target/streams/test/unmanagedClasspath/_global/streams/export
/target/streams/test/unmanagedJars/_global/streams/export
/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/input_dsp
/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
/target/scala-2.13/update/update_cache_2.13/inputs
/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.13/inputs
/project/target/streams/_global/_global/_global/streams/out
/project/target/streams/_global/_global/csrLogger/_global/streams/out
/project/target/streams/_global/csrConfiguration/_global/streams/out
/project/target/streams/_global/csrProject/_global/streams/out
/project/target/streams/_global/ivyConfiguration/_global/streams/out
/project/target/streams/_global/ivySbt/_global/streams/out
/project/target/streams/_global/moduleSettings/_global/streams/out
/project/target/streams/_global/projectDescriptors/_global/streams/out
/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
/project/target/streams/_global/update/_global/streams/out
/project/target/streams/compile/bspReporter/_global/streams/out
/project/target/streams/compile/compile/_global/streams/out
/project/target/streams/compile/compileIncremental/_global/streams/out
/project/target/streams/compile/copyResources/_global/streams/out
/project/target/streams/compile/incOptions/_global/streams/out
/project/target/streams/compile/internalDependencyClasspath/_global/streams/out
/project/target/streams/compile/scalacOptions/_global/streams/out
/project/target/streams/compile/unmanagedClasspath/_global/streams/out
/project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
/project/target/streams/runtime/unmanagedClasspath/_global/streams/out
/target/streams/_global/_global/csrLogger/_global/streams/out
/target/streams/_global/_global/dumpStructure/_global/streams/out
/target/streams/_global/csrConfiguration/_global/streams/out
/target/streams/_global/csrProject/_global/streams/out
/target/streams/_global/ivyConfiguration/_global/streams/out
/target/streams/_global/ivySbt/_global/streams/out
/target/streams/_global/moduleSettings/_global/streams/out
/target/streams/_global/projectDescriptors/_global/streams/out
/target/streams/_global/update/_global/streams/out
/target/streams/_global/updateClassifiers/_global/streams/out
/target/streams/compile/scalacOptions/_global/streams/out
/target/streams/compile/unmanagedClasspath/_global/streams/out
/target/streams/runtime/unmanagedClasspath/_global/streams/out
/target/streams/test/unmanagedClasspath/_global/streams/out
/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
/target/scala-2.13/update/update_cache_2.13/output
/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.13/output
/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/output_dsp
/project/target/streams/compile/_global/_global/compileOutputs/previous
